:root{
    --primary-color: #0000ff;
}
ul{
    list-style: none;
}
.logo{
    width: 20%;
}
a{
    text-decoration: none;
    color: #000;
    
}
.head{
    padding: 0.5px;


}
nav{
    align-items: center;
    justify-content: space-between;
    display: flex;    
}
.nav-links{
    position: relative;
    color: #000;
    
}
.body-over{
    background: url(download.jpg) no-repeat center center/cover;
    position: relative;
    width: 100%;
    height: 100vh;
}